<!-- Main Home Page -->

<app-navigation></app-navigation>
<!-- <app-watch-list-pageWat  
(onAdd)="addToWatchlist($event)">
</app-watch-list-pageWat> -->
        
<div class="movieresults">
<div class="search"><app-search (onSearch)="search($event)"></app-search>
<!-- <input type="text" placeholder="genre">
<input type="text" placeholder="year"> -->
<h1>Popular Movies:</h1>
</div>

<!-- our code -->

<div *ngFor="let movie of popularList" style="display: inline-block">
    <!-- <p class="title">Title: {{ movie.title }}</p> -->
    <a routerLink="/movie/{{ movie.id }}" role="button">
    <img class="movieImage" src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" all=""></a></div>
</div>

<div *ngFor="let movie of movieResults">
    <h4>Title: {{ movie.title }}</h4>
    <p class="overview">Release Date : {{ movie.release_date}}</p>
    <p>Genre: {{ movie.genre_ids }}</p>
    <div class="imagePlacement"> <img class="movieImage" src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" all=""></div>
    <!-- <p><a class="btn btn-default" routerLink="/movie/{{movie.id}}" role="button">View details &raquo;</a></p> -->
    <button 
    (click)="addToWatchlist($event)">
    Add to WatchList
    </button>
</div>
          